@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

*{
  font-family: 'Poppins', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  text-transform: capitalize;
  transition: all .2s linear;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:25px;
  background-image: linear-gradient( #eaa95b,#d08529);background: -moz-linear-gradient(-45deg, #e67e22 0%, #f39c12 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #e67e22 0%,#f39c12 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #e67e22 0%,#f39c12 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  height: auto;
  min-height: calc(100vh);
}

.container form{
  padding:20px;
  width:700px;
  background:white;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  border-radius: 10px;
}

.container form .row{
  display: flex;
  flex-wrap: wrap;
  gap:15px;
 
}

.container form .col{
  flex:1 1 250px;
  width: 0%;
  min-width: 240px;
  height: 100%;
  float: left;
  /* background: #34495e; */
}

.container form .row .col .title{
  font-size: 20px;
  color:#333;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.container form .row .col .inputBox{
  margin:15px 0;
}

.container form .row .col .inputBox span{
  margin-bottom: 10px;
  display: block;
}

.container form .row .col .inputBox input{
  width: 100%;
  border:1px solid #ccc;
  padding:10px 15px;
  font-size: 15px;
  text-transform: none;
  border-radius: 7px;
}

.container form .row .col .inputBox input:focus{
  border:1px solid #000;
}

.container form .row .col .flex{
  display: flex;
  gap:15px;
}

.container form .row .col .flex .inputBox{
  margin-top: 5px;
}

.container form .row .col .inputBox img{
  height: 34px;
  margin-top: 5px;
  filter: drop-shadow(0 0 1px #000);
}

.container form .submit-btn{
  width: 100%;
  padding:12px;
  font-size: 17px;
  background:  linear-gradient(135deg, #e67e22 0%,#f39c12 100%); 
  color:#fff;
  margin-top: 5px;
  cursor: pointer;
}

.container form .submit-btn:hover{
    box-shadow: 5px 7px 8px #efb063, -2px -2px 2px #f4d9b8;
}