@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;500&family=Cedarville+Cursive&family=Dancing+Script&family=Montserrat:wght@300;500&family=Roboto&family=Roboto+Mono:wght@600&family=Source+Sans+Pro:wght@300&family=Ysabeau:ital@1&display=swap');


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Roboto,sans-serif;
    line-height: 1.1;
    width: 100vw;
    /* background-color: #f7941d; */
    /* color: white; */
}

#topLogo{
    height: 6vw;
    width: 6.5vw;
    margin-left: 2vw;
    
}

.fa-home, .fa-film, .fa-ticket, .fa-video-camera, .fa-phone-square, .fa-user, .fa-user-plus, .fa-camera{      
    /* font-size: 8vw; */
    color: #e39535;
    width: 1.1vw;
}
#title{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 80vw;
    margin-left: 12vw;
    margin-top: -3.5vw;
    background-color:#2b2b2b ; 
}

a:hover{
    color: #e39535;
    font-size: 1.1vw;  
}

ul{
    list-style-type: none; 
     
}

a{
    text-decoration: none;
    color: white;  
    background-color:#2b2b2b ;
    
}
nav{
    background-color:#2b2b2b ;
    height: 6vw;
    width: 100vw;
    
}

#selectedNavItem{
    /* border-bottom: 3.5px solid white; */
    color:#c46e06 ;
    font-weight: bold;
    
}

#li_id{
    margin-right: 3.5vw;
    margin-left: -1vw;
}

.ticketPricesBody{
    padding: 5vw 0;
    background-image: linear-gradient(#f48e11,  #f5a33e,#f0a952);

}

table{
    width: 55vw;

    margin: auto;

}

tr{
    height: 2.5vw;
    text-align: center;
}

th{
    /* background-image: linear-gradient(#ae6102,  #f1b163,#eddac3); */
    background-image: linear-gradient(#ae6102, #f1b163, #f1b163,#ae6102);
    /* border-image: linear-gradient(#ae6102,  #f1b163,#eddac3); */
    border: none;
     font-size: 18px;
}

td{
    background-color: #404040;
    color: white;
    border-bottom: 1px solid rgb(244, 244, 244);
}

/* tr{
    border-bottom: 1px solid white;
} */

#break{
    border: none;

}


footer{
    background-color: #eeb46c;
    margin-top: -2vw;
        /* background-image: linear-gradient(#b86602,  #e5b628,#8d5f04); */
    /* margin-top: 5vw; */
    /* margin-bottom: 0vw; */
/* border: 2px solid red; */
}

#partnerImg{
    width: 10vw;
    margin : 1vw 0;
}

.partner{
    /* border: 2px solid red; */
    width: 100vw;
    padding-top: 5vw;
    width: 80vw;
    margin: 1vw 9vw;
}

#partnerText{
    font-size: 1.8vw;
    color: rgb(120, 11, 203);
    border-bottom: 2px solid grey;
    font-family: 'Alegreya', serif;

    /* border: 2px solid red; */
    width: 80vw;
  
}

#partnerText2{
    font-size: 1vw;
    /* color: rgb(120, 11, 203); */
    /* border-bottom: 2px solid grey; */
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* margin-top: -1vw; */
    /* border: 2px solid red; */
    width: 80vw;
  
}

.linkText2{
    background-color: #eeb46c;
    text-align: center;
    /* border: 2px solid red; */


}

p{
    width: 90vw;
    /* border: 2px solid red; */
    padding: 1vw;
}


.foot{
    margin: 6vw 6vw 0vw 6vw;
    text-align: center;
    
    width: 90vw;
    /* border: 2px solid red; */
}

.fa-facebook-square, .fa-instagram, .fa-twitter,.fa-whatsapp, .fa-share-square{
    color: rgb(242, 242, 242);
    width: 1.1vw;
    
}
